html {
    box-sizing: border-box;
    /* margin-left: 80px;
    margin-right: 80px; */
    margin-left: 88px;
    margin-right: 88px;
    
}

body{
    margin: 0px;
}

p{
    margin: 0px;
}

article{
    width: 30.8%;
    background-color: #E7E7E7;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 45px;
    padding-bottom: 20px;
}

article img{
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_logo {
    margin-top: 38px;
    /* margin-bottom: 13px; */
    /* max-width: 160px; */
    /* height: auto; */
    width: 45px;
}

.titre_site {
    font-weight: bold;
    font-size: 31px;
    margin: 0px;
    color: #D15151;
    font-family: 'DM Sans', sans-serif;
}

.recherche-primaire{
    margin-top: 15px;
    width: 98%;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    padding-left: 20px;
    background-color: #EBEBEB;
    border: 0px;
    border-radius: 5px;
}

.recherche-ingredient{
    border: 0px;
    background-color: #3281F7;
    font-size: 15px;
}

.recherche-ingredient::placeholder{
    color: #82B3FA;
}

.recherche-primaire::placeholder{
    color: #C6C6C6;
}

#formPrimaire{
    display: flex;
    align-items: center;
}

.fa-magnifying-glass{
    margin-left: -50px;
    font-size: 25px;
    margin-top: 15px;
}

#selector {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3281F7;
    border-radius: 5px;
    color: white;
    /* max-width: 54%; */
    /* width: 17.99%; */
    width: 13.7%;
}

#selectorAppareil {
    margin-top: 20px;
    margin-left: 12.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #68D9A5;
    border-radius: 5px;
    color: white;
    /* max-width: 54%; */
    /* width: 17.99%; */
    width: 13.7%;
}

#selectorUstensiles {
    margin-top: 20px;
    margin-left: 12.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ED6454;
    border-radius: 5px;
    color: white;
    /* max-width: 54%; */
    /* width: 17.99%; */
    width: 13.7%;
}

#menuIngredients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20vw;
    overflow-x: scroll;
    /* width: 10%;
    height: 24vw; */
    list-style: none;
}


.fermer {
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 16px;
    /* width: 10%; */
    font-size: 17.5px;
}

.ouvert{
    display:none;

}

#recettes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}



.divTitre{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
}

.divTemps{
    display: flex;
}

.pTemps{
    margin-left: 10px;
    font-weight: bold;
    white-space: nowrap;
}

.divIngredient{
    display: flex;
    /* margin-top: 15px; */
    /* width: 50%; */
    flex-wrap: wrap;
}

.pTitreIngredient{
    font-weight: bold;
}

.mesIngredients{
    margin-bottom: 15px;
    width: 50%;
    font-size: 11px;
    padding-right: 10px;
    /* flex-wrap: wrap; */
}

.divDescription{
    display: flex;
}

.pDescription{
    width: 50%;
    font-size: 11px;
    padding-left: 10px;
}

.details{
    padding-left: 20px;
    padding-right: 20px;
}

.tag{
    /* display: none; */
    margin-top: 31px;
}

.tagIngredient{
    display: none;
}

.pIngredient{
    background-color: #3281F7;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    color: white;
}

.sous-recherche{
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}

li option {
    width: 35%;
}

.mes_menus{
    display: flex;
}

#aucun-article{
    display: none;
}

#aucun-article p{
    margin-top: 10px;
}